<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyClH-HbSBs4OcOdLQo6kg2J7XgzJiNo8eE</string>
	<key>GCM_SENDER_ID</key>
	<string>994502656603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rlaehgns745.TodoApp-based-on-FireBase</string>
	<key>PROJECT_ID</key>
	<string>todoapp-based-on-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-based-on-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994502656603:ios:8e01a4e941d8d19c85b57e</string>
</dict>
</plist>